.REG{
  width: 100%;
 
  /* background-image: url(ima/a21f12ab-1ddb-48e3-bc8c-1c37f34c03b4.jpg); */
}
.logo{
  width: 30%;
  color: black;
  background-color: #007bff;
  text-align: center;
  align-items: center;
  left: 120px;
  bottom:25px;
  margin-top: 20px;
  display: flex; 
  position: relative;
}
 img{
  text-align:center;
}
.container {
  top: 50%;
  color:black;
  background: white;

  width: 600px;
  height: 600px;
  align-items: center;
  text-align: left;
  margin-left:600px ;
  margin-top: 100px;
    max-width: 400px;
    
    padding: 20px;
    border: 5px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
  }
  h2{
    font-weight: 800;
    font-size: 1cm;
    color:black;
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    align-items: center;
text-align: center;
  }
  span{
    color: red;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
  }
  .form-group {
    margin-bottom: 15px;
    font-size:20px;
 
  }
  .form-group label{
    border:none;
  }
  
  label {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    padding: ;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: calc(100% - 10px); /* Adjust the width to create space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  label{
    border-top:2px solid black;
    border:none;
  }
  body{
    background-image: url(659.jpg);
  background-size: cover;
  
    
  }